
     <% if session[:user_id] %>
     <%= render 'layouts/header' %>
   <div class="content-wrapper">
<section class="content">

<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Editar Empresa</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
      <%  @company = Company.where("comp_id =?",params[:company_id])[0] %>
  
       <%= form_with(model: @company, local: true) do |form| %>

       <div class="box-body">

<% if @company.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">?^?</button>
                <h4><i class="icon fa fa-ban"></i> Debes llenar los campos! faltaron:</h4>


      <% @company.errors.full_messages.each do |message| %>


               <p><%= message %></p>

      <% end %>
      </div>
    </div>
  <% end %>



               <div class="form-group">
                  <label for="exampleInputEmail1">Nombre *</label>
                 <input class="form-control"  name="company[name]" value="<%= @company.name %>" placeholder="Nombre Empresa *" size="30" type="text" required>
                </div>

                    <div class="form-group">
                  <label for="exampleInputEmail1">Giro *</label>
                 <input class="form-control"  name="company[giro]" value="<%= @company.giro %>" placeholder="Giro de la Empresa *" size="30" type="text" required>
                </div>
                  <div class="form-group">
                  <label for="exampleInputEmail1">Descripci贸n *</label>
                 <input class="form-control"  name="company[descripcion]" value="<%= @company.descripcion %>" placeholder="Descripci贸n Empresa *" size="30" type="text" required>
                </div>
        <div class="form-group">
                  <label for="exampleInputEmail1">Direccion *</label>
                 <input class="form-control"  name="company[address]" value="<%= @company.address %>" placeholder="Direcci贸n Empresa *" size="30" type="text" required>
                </div>


                    <div class="form-group">
                  <label for="exampleInputEmail1">Sitioweb *</label>
                 <input class="form-control"  name="company[website]" value="<%= @company.website %>" placeholder="SitioWeb Empresa *" size="30" type="text" required>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Telefono *</label>
                 <input class="form-control"  name="company[telefono]" value="<%= @company.telefono %>" placeholder="Telefono *" size="30" type="text" required>
                </div>


                    <div class="form-group">
                  <label for="exampleInputEmail1">Facebook</label>
                 <input class="form-control"  name="company[facebook]" value="<%= @company.facebook %>" placeholder="Facebook Empresa" size="30" type="text">
                </div>




                    <div class="form-group">
                  <label for="exampleInputEmail1">Twitter</label>
                 <input class="form-control"  name="company[twitter]" value="<%= @company.twitter %>" placeholder="Twitter Empresa" size="30" type="text" >
                </div>




                    <div class="form-group">
                  <label for="exampleInputEmail1">Instagram</label>
                 <input class="form-control"  name="company[instagram]" value="<%= @company.instagram %>" placeholder="Instagram Empresa" size="30" type="text">
                </div>

                   <div class="form-group">
                  <label for="exampleInputEmail1">Linkedin</label>
                 <input class="form-control"  name="company[linkedin]" value="<%= @company.linkedin %>" placeholder="Linkedin Empresa" size="30" type="text">
                </div>



         <div class="form-group">
                  <label for="exampleInputEmail1">Logo * - Medidas: 260px X 260px</label>
                 <%= form.file_field :logo %>

                </div>




    <div class="form-group">
        <button type="submit" name="submit" class="btn btn-primary">Cargar Empresa</button>

    </div>



</div>
<% end %>


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css">





          </div>
    </section>

        </div>
<% else %><br><br><br><br>
<div align="center">

<h2>Cerraste tu sesi贸n, vuelve a logearte</h2>
</div>
<br><br><br><br>
<% end %>
