<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Mi Gran Empresa</title>

<!-- Stylesheets -->
<link href="https://migranempresa.s3.us-east-2.amazonaws.com/landing/css/bootstrap.css" rel="stylesheet">
<link href="https://migranempresa.s3.us-east-2.amazonaws.com/landing/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
<link href="https://migranempresa.s3.us-east-2.amazonaws.com/landing/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
<link href="https://migranempresa.s3.us-east-2.amazonaws.com/landing/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
<link href="https://migranempresa.s3.us-east-2.amazonaws.com/landing/css/style.css" rel="stylesheet">
<link href="https://migranempresa.s3.us-east-2.amazonaws.com/landing/css/responsive.css" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="https://migranempresa.s3.us-east-2.amazonaws.com/landing/css/color-themes/default-theme.css" rel="stylesheet">

<!--Favicon-->
<link rel="shortcut icon" href="https://migranempresa.s3.us-east-2.amazonaws.com/landing/images/favicon.png" type="image/x-icon">
<link rel="icon" href="https://migranempresa.s3.us-east-2.amazonaws.com/landing/images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<% if @post %>

   <meta property="og:url"           content="https://www.migranempresa.com/publicacion/<%= @post.company_name.gsub(' ','-') %>" />
  <meta property="og:type"          content="<%= @post.company_name %>" />
  <meta property="og:title"         content="<%= @post.company_name %>" />
  <meta property="og:description"   content="<%= @post.company_description %>" />
  <meta property="og:image"         content="https:<%= @post.picture.url %>" />

<% end %>



<% if @company %>

   <meta property="og:url"           content="https://www.migranempresa.com/empresa/<%= @company.name.gsub(' ','-') %>" />
  <meta property="og:type"          content="<%= @company.name %>" />
  <meta property="og:title"         content="<%= @company.name %>" />
  <meta property="og:description"   content="<%= @company.descripcion %>" />
  <meta property="og:image"         content="https:<%= @company.logo.url %>" />

<% end %>

<%= csrf_meta_tags %>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2&appId=188369678532989&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="page-wrapper">
  
    <!-- Preloader -->

  
    <!-- Main Header -->
    <header class="main-header">
      <!--Header Top-->
      <div class="header-top">
            <div class="auto-container">
                <div class="clearfix">
                    <!--Top Left-->
                    <div class="top-left col-md-4 col-sm-12 col-xs-12">
                      <ul class="clearfix">
                          <li>Bienvenido a: Mi Gran Empresa</li>
                        </ul>
                    </div>
                    <!--Top Right-->
                    <div class="top-right pull-right col-md-8 col-sm-12 col-xs-12">
             
                        <ul class="social-nav">
                          <li><a href="https://www.facebook.com/MiGranEmpresaMx/" target="_blank"><span class="fa fa-facebook-f"></span></a></li>
                          <li><a href="https://www.linkedin.com/company/mi-gran-empresa/" target="_blank"><span class="fa fa-linkedin"></span></a></li>
              
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
      <!--Header-Upper-->
        <div class="header-upper">
          <div class="auto-container">
        <div class="logo-outer">
                    <div class="logo"><a href="/"><img src="https://migranempresa.s3.us-east-2.amazonaws.com/landing/images/logo_transparent.png" alt="" style="width: 226px;height:80px;" /></a></div>
                </div>
      </div>
        </div>
        <!--End Header Upper-->
        
        <!--Header Lower-->
        <div class="header-lower">
          <div class="auto-container">
              <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix" id="bs-example-navbar-collapse-1">
                            <ul class="navigation clearfix">
                                <% if request.path == "/" %>
                                     <li class="current"><a href="/">Home</a></li>
                                <% else %>
                                     <li class=""><a href="/">Home</a></li>   
                                <% end %>
                               
                                 <% if request.path == "/blog" %>
                                     <li class="current"><a href="/blog">Publicaciones</a></li>
                                <% else %>
                                     <li class=""><a href="/blog">Publicaciones</a></li>   
                                <% end %>
                                <% if request.path == "/comunity" %>
                                     <li class="current"><a href="/comunity">Comunidad</a></li>
                                <% else %>
                                     <li class=""><a href="/comunity">Comunidad</a></li>   
                                <% end %>


                                 <% if request.path == "/columnistas" %>
                                     <li class="current dropdown" ><a href="/columnistas">Columnistas</a>
                                      <ul>
                                        <% Columnist.all.reverse.each do |columnist| %>
                                        <li><a href="/columnista/<%= columnist.full_name.gsub(' ','-') %>"><%= columnist.full_name %></a></li>
                                        <% end %>
                                       </ul>
                                      </li>
                                <% else %>
                                     <li class="dropdown"><a href="/columnistas">Columnistas</a>
                                     <ul>
                                        <% Columnist.all.reverse.each do |columnist| %>
                                        <li><a href="/columnista/<%= columnist.full_name.gsub(' ','-') %>"><%= columnist.full_name %></a></li>
                                        <% end %>
                                    </ul></li>   
                                <% end %>


                                <% if request.path == "/contacto" %>
                                     <li class="current"><a href="/contacto">Contacto</a></li>
                                <% else %>
                                     <li class=""><a href="/contacto">Contacto</a></li>   
                                <% end %>
                 
                  
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                  <div class="outer-box">
                        
                        <!--Cart Box-->
             
                        <!--Search Box-->
                        <div class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu1">
                                    <li class="panel-outer">
                                        <div class="form-container">
                                            <form method="get" action="/search">
                                                <div class="form-group">
                                                    <input type="search" name="search_text" value="<%= params[:search_text] %>" placeholder="Busca aquí" required="">
                                                    <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Hidden Nav Toggler -->
                     <div class="nav-toggler">
                         <button class="hidden-bar-opener"><span class="icon qb-menu1"></span></button>
                     </div>
                    
                </div>
                 
            </div>
        </div>
        <!--End Header Lower-->
    
      <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="/" title=""><img src="https://migranempresa.s3.us-east-2.amazonaws.com/landing/images/logo-small_new.png" alt="" /></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                               <% if request.path == "/" %>
                                     <li class="current"><a href="/">Home</a></li>
                                <% else %>
                                     <li class=""><a href="/">Home</a></li>   
                                <% end %>
                              
                                
                                 <% if request.path == "/blog" %>
                                     <li class="current"><a href="/blog">Publicaciones</a></li>
                                <% else %>
                                     <li class=""><a href="/blog">Publicaciones</a></li>   
                                <% end %>
                                        <% if request.path == "/comunity" %>
                                     <li class="current"><a href="/comunity">Comunidad</a></li>
                                <% else %>
                                     <li class=""><a href="/comunity">Comunidad</a></li>   
                                <% end %>
                                <% if request.path == "/columnistas" %>
                                     <li class="current dropdown" ><a href="/columnistas">Columnistas</a>
                                      <ul>
                                        <% Columnist.all.reverse.each do |columnist| %>
                                        <li><a href="/columnista/<%= columnist.full_name.gsub(' ','-') %>"><%= columnist.full_name %></a></li>
                                        <% end %>
                                       </ul>
                                      </li>
                                <% else %>
                                     <li class="dropdown"><a href="/columnistas">Columnistas</a>
                                     <ul>
                                        <% Columnist.all.reverse.each do |columnist| %>
                                        <li><a href="/columnista/<%= columnist.full_name.gsub(' ','-') %>"><%= columnist.full_name %></a></li>
                                        <% end %>
                                    </ul></li>   
                                <% end %>



                                <% if request.path == "/contacto" %>
                                     <li class="current"><a href="/contacto">Contacto</a></li>
                                <% else %>
                                     <li class=""><a href="/contacto">Contacto</a></li>   
                                <% end %>
                 
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Header Style Two -->
    
    <!-- Hidden Navigation Bar -->
    <section class="hidden-bar left-align">
        
        <div class="hidden-bar-closer">
            <button><span class="qb-close-button"></span></button>
        </div>
        
        <!-- Hidden Bar Wrapper -->
        <div class="hidden-bar-wrapper">
            <div class="logo">
              <a href="/"><img src="https://migranempresa.s3.us-east-2.amazonaws.com/landing/images/mobile-logo_transparent.png" alt="" /></a>
            </div>
            <!-- .Side-menu -->
            <div class="side-menu">
              <!--navigation-->
                <ul class="navigation clearfix">
                          <% if request.path == "/" %>
                                     <li class="current"><a href="/">Home</a></li>
                                <% else %>
                                     <li class=""><a href="/">Home</a></li>   
                                <% end %>
                               
                                
                                 <% if request.path == "/blog" %>
                                     <li class="current"><a href="/blog">Publicaciones</a></li>
                                <% else %>
                                     <li class=""><a href="/blog">Publicaciones</a></li>   
                                <% end %>
                                        <% if request.path == "/comunity" %>
                                     <li class="current"><a href="/comunity">Comunidad</a></li>
                                <% else %>
                                     <li class=""><a href="/comunity">Comunidad</a></li>   
                                <% end %>
                                 <% if request.path == "/columnistas" %>
                                     <li class="current dropdown" ><a href="/columnistas">Columnistas</a>
                                      <ul>
                                        <% Columnist.all.reverse.each do |columnist| %>
                                        <li><a href="/columnista/<%= columnist.full_name.gsub(' ','-') %>"><%= columnist.full_name %></a></li>
                                        <% end %>
                                       </ul>
                                      </li>
                                <% else %>
                                     <li class="dropdown"><a href="/columnistas">Columnistas</a>
                                     <ul>
                                        <% Columnist.all.reverse.each do |columnist| %>
                                        <li><a href="/columnista/<%= columnist.full_name.gsub(' ','-') %>"><%= columnist.full_name %></a></li>
                                        <% end %>
                                    </ul></li>   
                                <% end %>

                                <% if request.path == "/contacto" %>
                                     <li class="current"><a href="/contacto">Contacto</a></li>
                                <% else %>
                                     <li class=""><a href="/contacto">Contacto</a></li>   
                                <% end %>
                 
                </ul>
            </div>
            <!-- /.Side-menu -->
            
       
            
        </div><!-- / Hidden Bar Wrapper -->
        
    </section>
    <!-- End / Hidden Bar -->
    
