  <% if session[:user_id] || request.path == "/admin" %>
<!DOCTYPE html>
<html>
  <head>
    <title>Mi Gran Empresa</title>
    <%= csrf_meta_tags %>

      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 --> <link rel="stylesheet" href="https://migranempresa.s3.us-east-2.amazonaws.com/admin_template/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="https://migranempresa.s3.us-east-2.amazonaws.com/admin_template/dist/css/AdminLTE.min.css">

  <link rel="stylesheet" href="https://migranempresa.s3.us-east-2.amazonaws.com/admin_template/dist/css/skins/_all-skins.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="https://migranempresa.s3.us-east-2.amazonaws.com/admin_template/plugins/iCheck/flat/blue.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="https://migranempresa.s3.us-east-2.amazonaws.com/admin_template/plugins/morris/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="https://migranempresa.s3.us-east-2.amazonaws.com/admin_template/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="https://migranempresa.s3.us-east-2.amazonaws.com/admin_template/plugins/datepicker/datepicker3.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="https://migranempresa.s3.us-east-2.amazonaws.com/admin_template/plugins/daterangepicker/daterangepicker.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="https://migranempresa.s3.us-east-2.amazonaws.com/admin_template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <link rel="stylesheet" href="https://migranempresa.s3.us-east-2.amazonaws.com/toastr.css">


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<%= yield %>






</body>
</html>

  <% else %>

<%= render 'layouts/header_landing' %>
    <!--Main Slider-->

    <%= yield %>
   
    
      <%= render 'layouts/footer' %>

  <% end %>
    


